.projects-page-container {
  background-color: var(--color-primary-medium-dark);
  color: var(--color-text-light);
  border-radius: 1vmin;
  text-align: start;
  height: 88vh;
  width: 100%;
  border: 0.3vmin solid #273050;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  align-content: start;
  padding: 1vh 1vw;
}

.projects-list {
  row-gap: 1vh;
  height: 84vh;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: calc(81vh / 4);
  justify-content: center;
  align-self: center;
  overflow-y: visible;
  overflow-x: hidden;
  padding-right: 0.5%;
  padding-left: 1.5%;
  position: relative;
}
