/* src/components/ProjectCard/ProjectCard.css */

.project-card {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  transition: transform 0.5s ease, box-shadow 0.3s ease,
    opacity 0.5s ease-in-out;
  opacity: 1;
  transform: translateY(0%);
  height: 20.25vh;
  width: 100%;
  justify-self: center;
  grid-row: auto;
  grid-column: 1;
  scroll-snap-align: start;
  z-index: 2;
  position: relative;
}
.project-card-overview {
  color: var(--color-text-light);
  background-color: var(--color-primary-medium);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 37.5%;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 1%;
  border: 0.1vmin solid var(--color-secondary-light-blue);
  border-radius: 1vmin;
  box-shadow: 0 0.4vmin 0.8vmin rgba(0, 0, 0, 0.3);
}
.project-card:hover {
  box-shadow: 0 0.6vmin 1.2vmin rgba(0, 0, 0, 0.4);
}

.project-card-text {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  grid-template-columns: 1fr;
  column-gap: 10%;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 100%;
  flex-direction: column;
}

.project-card-title-description {
  overflow: hidden;
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  position: relative;
  grid-row: 1;
  grid-column: 1;
}

.project-card-text h3 {
  color: var(--color-text-light);
  font-size: 1.3rem;
  align-self: center;
  align-content: center;
  white-space: nowrap;
}

.project-card-text p {
  color: var(--color-text-medium);
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  grid-row: 2;
  min-height: 100%;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.project-card-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  height: 100%;
  width: 100%;
  align-self: end;
  gap: 2%;
}
.project-card-tags-links {
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  align-self: end;
  justify-content: space-between;
  height: 100%;
}
.project-tag {
  background-color: var(--color-primary-medium-dark);
  opacity: 0.8;
  color: var(--color-text-medium);
  border-radius: 0.5vmin;
  font-size: 1em;
  border: 0.1vmin solid var(--color-secondary-link);
  cursor: default;
  white-space: nowrap;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
  height: fit-content;
  line-height: 1;
  padding: 0.2vh 0.2vw;
  flex: 0 1 auto; /* Allow tags to grow and shrink */
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

.project-links {
  display: flex;
  column-gap: 0.5vw;
  flex-wrap: nowrap;
  align-self: flex-end;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  justify-self: end;
  align-self: end;
}

.project-links .project-button {
  background-color: var(--color-secondary-link);
  color: var(--color-text-medium);
  text-decoration: none;
  border-radius: 0.5vmin;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.1s ease;
  border: 0.1vmin solid var(--color-secondary-link);
  cursor: pointer;
  max-width: 100%;
  min-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  align-content: center;
  padding: 0.5vmin;
}

.project-links .project-button:hover {
  background-color: var(--color-secondary-lighter-blue);
  color: var(--color-primary-light);
  border-color: var(--color-secondary-lighter-blue);
  transform: translateY(-0.2vmin);
}

.project-links .project-button:active {
  background-color: var(--color-primary-medium);
  color: var(--color-text-medium);
  border-color: var(--color-primary-medium);
  transform: translateY(0);
}

.project-image {
  border-radius: 0.5vmin;
  border: 0.1vmin solid var(--color-secondary-link);
  object-fit: fill;
  grid-row: 1;
  grid-column: 2;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.position-outside {
  opacity: 0;
  transform: translateX(100%);
  transition: box-shadow 0.3s ease;
}
.position-inside {
  opacity: 1;
  transform: translateX(0%);
  transition: box-shadow 0.3s ease;
}
.transition-fade-in {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease-in-out;
}
.transition-fade-out {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease-in-out;
}
.transition-upwards {
  transform: translateY(-100%);
  opacity: 0;
}
.transition-upwards2 {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease-in-out, grid-row 0.3s ease;
  opacity: 1;
}
.transition-downwards {
  transform: translateY(100%);
  opacity: 0;
}
